:root {
    --background: #252a2c;
    --white: #e2e2e2;   
}

html {
    scroll-behavior: smooth;
  }

* {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--background);
    max-width: 55rem;
    margin: auto;
    color: var(--white);
    padding-left: 15px;
    padding-right: 16.5px;
}

h1 {
    font-size: medium;
}

h2 {
    font-size: small;
}

.blocky-hr {
    margin-top: 45px;
    margin-bottom: 45px;
    border: 8px dashed color-mix(in srgb, var(--background) 65%, var(--white) 35%);
}

.black-hr {
    border: 1.5px solid black;
}

.gradient {
    height: 30px;
    background-image: linear-gradient(var(--background), transparent);
    margin-right: -9px;
}

.bold {
    font-weight: 700;
}

.nav-filler{
    background-color: var(--background);
    margin: 0;
    height: 30px;
    filter: drop-shadow(10px 0px 0px var(--background))
    drop-shadow(0px 10px 0px var(--background));
}

.navbar-container {
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background: var(--white);
    border: 3.5px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--background);
    filter: drop-shadow(8.5px 8.5px 0px black);
}


.club-logo-text {
    display: flex;
    align-items: flex-start;
}

.navbar-logo {
    width: 5ch;
    height: 5%;
    margin: -13px -10px -16px -10px;
}

.navbar-elements {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-elements a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    color: var(--background);
}

.navbar a:hover {
    filter: invert(1);
    background-color: white;
}

.navbar-elements h2 {
    font-size: 84%;
    font-weight: 450;
}

.hero-content {
    display: flex;
    justify-content: space-between;
}

.hero-content h1 {
    color: var(--white);
    font-size: 4rem;
    font-weight: 900;
    line-height: 2rem;
}

.hero-logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.binary-design {
    margin-top: 1rem;
    overflow:visible;
    padding-left: 3rem;
    max-height: 13.2rem;
}

.binary-design p::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.binary-design p {
    margin: 0;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #33393b;
    font-size: 1.9rem;
    font-weight: 600;
    overflow: scroll;
    max-height: 20rem;
    word-break: break-all;
    white-space: normal;
}

@media only screen and (max-width: 523px) {
    .hero-content {
        display: block;
    }

    .binary-design {
        height: 3rem;
        padding: 0;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .binary-design p {
        white-space: nowrap;
        height: auto;
    }

    .pc-only {
        display: none;
    }
}

.intro {
    display: flex;
}

.box {
    border: 3px solid black;
    color: var(--background);
    margin-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
    filter: drop-shadow(8px 8px 0px black);
}

.intro h1 {
    font-size: 1.5rem;
}

.club-logo {
    display: block;
    width: 35%;
}

.events-header {
    font-size: 3rem;
    line-height: 3.9rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    font-weight: 750;
}

.events-container {
    filter: drop-shadow(8px 8px 0px black);
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin-bottom: 30px;
}

.event {
    background-color: var(--white);
    border: 3.5px solid black;
    color: var(--background);
    display: flex;
    flex-direction: column;
}

.event-name-date {
    background: #528BFF;
    padding-left: 8px;
    padding-right: 9px;
    border-bottom: 3.5px solid black;
    display: flex;
    justify-content: space-between;
}

.event-name-date h1 {
    font-size: 1.5rem;
    font-weight: 750;
}

.event-info {
    display: flex;
    justify-content: space-between;
}

.event-desc {
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--white);
}

.event-desc p {
    font-weight: 600;
    font-size: 1.05rem;
}

.subtitle-text {
    text-align: center;
    color: color-mix(in srgb, var(--background) 30%, var(--white) 70%);
}

.subtitle-text a {
    color: var(--white);
    text-decoration: underline;
}

.subtitle-text a:hover {
    color: greenyellow;
}

.cards-section {
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
}

.card-header {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 12px;
    margin-bottom: 10px;
    color: var(--white);;
}

.card-text {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
}

@media only screen and (max-width: 400px) {
    .cards-section {
        flex-direction: column  ;
    }
}

.card-text a {
    text-decoration: underline;
    color: #17191b;
    font-weight: inherit;
}

.yellow {
    color: #cb9500;
}

/*  */
/* About page */
/*  */

.about-section-container {
    border: 5px solid black;
    background-color:  color-mix(in srgb, var(--background) 83%, black 17%);
    border-radius: 5px;
    margin-bottom: 50px;
}

.about-header {
    font-size: 2.8rem;
    line-height: 3.9rem;
    padding-left: 0.5rem;
    font-weight: 750;
    display: inline-block;
}


.about-desc {
    font-size: 1.6rem;
    font-weight: 450;
}

.quote h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}

.quote h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #cb9500;
    margin-top: 8px;
}

.quote span {
    color:#cb9500;
    font-weight: 900;
}

/*  */
/* Events page */
/*  */

.quick-nav {
    display: flex;
    margin-top: 0px;
    gap: 0.8rem;
    /* border: 3px solid black; */
    padding-left: 2px;
    /* padding-right: 20px; */
    /* padding-top: 5px; */
    /* align-items: center; */
    /* padding-bottom: 5px; */
    color: var(--background);
    justify-content: right;
    /* background-color: yellowgreen; */

    /* background-color: red; */
}

.quick-nav-items {
    border: 3px solid black;
    color: var(--background);
    margin-top: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    filter: drop-shadow(4px 4px 0px black);
    background-color: yellowgreen;
    font-weight: 500;
    text-decoration: none;
}

.quick-nav-items:hover {
    background-color: #cb9500;
    color: black;
}

#past {
    margin-top: 80px;
    margin-bottom: 80px;
}

#participated {
    margin-top: 80px;
    margin-bottom: 80px; 
}
